* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background: #213B7E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
}

.main {
    flex-grow: 1;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu__link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 18px;
    display: block;
}

.menu__link_active {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

.button {
    width: 153px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EA5D21;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
}



.video {
    padding-left: calc(50% - 820px / 2);
    padding-right: calc(50% - 820px / 2);
}

.footer {
    background-color: #213B7E;
    height: 60px;
    margin-top: 187px;
    display: flex;
    justify-content: center;
    height: 60px;
}


.footer-link {
    font-size: 20px;
    display: flex;
    color: #FFFFFF80;
    padding: 18px;
}

.glaf {
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
}

.h3 {
    padding-top: 33px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-left: 200px;
}

.contacts,
.tel {
    padding-left: calc(50% - 840px / 2);
    padding-right: calc(50% - 840px / 2);
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.h4 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
}

.address {
    margin-bottom: 31px;
}

.menu__link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.menu__link:hover {
    color: #EA6113;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
}

.menu__link:active {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.3s ease;
}

.menu__link_active {
    background-color: #fff;
    color: #213B7E;
    text-decoration: none;
    border-bottom: 2px solid #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 418px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    text-align: center;
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.log {
    width: 444px;
    height: 55px;
    margin-bottom: 56px;
    margin-left: 28px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #808080;
    padding-left: 14px;

}

.pas {
    width: 444px;
    height: 55px;
    margin-left: 28px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #808080;
    padding-left: 14px;

}

.submi {
    margin-top: 56px;
    background-color: #EA6113;
    width: 153px;
    height: 50px;
    margin-left: 174px;
    color: #FFFFFF;
    font-size: 18px;
}
